.hero {
    max-width: 1400px;
    margin: auto;
    padding: 70px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


.hero-content {
    max-width: 600px;
}


.hero-content h1 {
    font-size: 52px;
    line-height: 1.15;
    font-weight: 700;
    color: #111827;
    margin: 0;
}


.hero-content h1 span {
    color: #2563EB;
}


.hero-content p {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.7;
    color: #6B7280;
}


.hero-button {
    margin-top: 35px;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 14px 28px;

    border-radius: 10px;

    background: #2563EB;
    color: white;

    font-size: 16px;
    font-weight: 600;

    text-decoration: none;

    transition: .3s;
}


.hero-button:hover {
    background: #1D4ED8;
    transform: translateY(-2px);
}



.hero-image {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 750px;
    max-width: none;
    height: auto;
}



.image-placeholder {

    width: 450px;
    height: 350px;

    border-radius: 24px;

    background: linear-gradient(
        135deg,
        #EFF6FF,
        #DBEAFE
    );

    display: flex;
    align-items: center;
    justify-content: center;

    color: #2563EB;

    font-size: 20px;
    font-weight: 600;

    box-shadow: 0 20px 40px rgba(0,0,0,0.08);

}

.hero {
    max-width: 1400px;
    margin: auto;
    padding: 70px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-benefits {

    margin-top: 70px;

    display: flex;

    gap: 30px;

}


.benefit-item {

    display: flex;

    align-items: center;

    gap: 12px;

}


.benefit-item svg {

    color: #2563EB;

}


.benefit-item div {

    display: flex;

    flex-direction: column;

}


.benefit-item strong {

    color: #111827;

    font-size: 15px;

}


.benefit-item span {

    color: #6B7280;

    font-size: 13px;

}