.dashboard {
    width: 100%;
}


/* Encabezado */
.admin-header {
    margin-bottom: 35px;
}


.admin-header h1 {
    margin: 0;
    color: var(--color-texto);
    font-size: 32px;
}


.admin-header p {
    margin-top: 10px;
    color: var(--color-texto-suave);
    font-size: 15px;
}



/* Tarjetas */
.admin-cards {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 25px;

}



/* Cada acceso */
.admin-card {

    display: flex;

    align-items: flex-start;

    gap: 18px;

    padding: 28px;

    background: var(--color-superficie);

    border: 1px solid var(--color-borde);

    border-radius: 18px;

    text-decoration: none;

    color: inherit;

    min-height: 150px;

    transition: 0.25s, background-color .3s ease, border-color .3s ease;

}



.admin-card:hover {

    transform: translateY(-4px);

    border-color: #2563EB;

    box-shadow: var(--color-sombra);

}



/* Iconos */
.admin-card svg {

    color: #2563EB;

    margin-top: 5px;

}



/* Texto */
.admin-card h2 {

    margin: 0 0 5px;

    font-size: 20px;

    color: var(--color-texto);

}



.admin-card span {

    display: block;

    color: #2563EB;

    font-size: 14px;

    margin-bottom: 10px;

}



.admin-card p {

    margin: 0;

    color: var(--color-texto-suave);

    font-size: 14px;

    line-height: 1.5;

}



/* Responsive */
@media(max-width:800px) {

    .admin-cards {

        grid-template-columns: 1fr;

    }

}